.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #f8f0d7 !important;
}

.sublead {
  font-family: 'Coustard', serif;
  font-size: 1.8rem !important;
  color: rgb(63, 63, 63) !important;
  }

.lead {
  font-family: 'Coustard', serif;
  font-size: 2rem !important;
  color: rgb(68, 68, 68);
  }

.jumbotron {
    background: none !important;
    }

.gardenHeader {
  margin: auto;
  text-align: center !important;
  width: 60%;
}

.garden-jumbo {
align-content: center;
text-align: center;
background-color: #749C75 !important;
font-family: 'Cooper-black-std', serif;
font-size: 6rem !important; 
}

.garden-body {
background:  #F8F0D7 !important;
}

.card-title {
  font-family: 'Coustard', serif;
}
    
.inbloom {		
    width: 40%;
    }
  
#plant-cards {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: auto !important;
}

.card {
text-align: center;
background-color: #EA8955 !important;
border-radius: 20px !important;
}

.card-img-top {
border-radius: 20px !important;
text-align: center !important;
width: 200px !important;
height: 200px !important;

}

#navbar {
  font-family: 'Coustard', serif;
  background:  #F8F0D7 !important;
}


#navbar-title {
  font-family: 'Coustard', serif;
  color: #749C75 !important;
}



/* start of left palmleave css -------------------------------------- */


.leftpalm-1 {
  width: 100vw;
  position: fixed;
  z-index: 10;
  margin-top: 28%;
   /* animation-duration: 5s;
    animation-name: goLeft;
   animation-iteration-count:1;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   transform-origin: bottom left; */
  }

  .leftpalm-2 {
    width: 100vw;
    position: fixed;
    z-index: 8;
    margin-top: 28%;
    transform: rotate(-10deg);
    transform-origin: bottom left;
     /* animation-duration: 4s;
      animation-name: goLeft;
     animation-iteration-count:1;
     animation-timing-function: linear;
     animation-fill-mode: forwards;
     transform-origin: bottom left; */
    }

    .leftpalm-3 {
      width: 100vw;
      position: fixed;
      z-index: 6;
      margin-top: 28%;
      transform: rotate(-20deg);
    transform-origin: bottom left;
       /* animation-duration: 3s;
        animation-name: goLeft;
       animation-iteration-count:1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
       transform-origin: bottom left; */
      }

      .leftpalm-4 {
        width: 100vw;
        position: fixed;
        z-index: 4;
        margin-top: 28%;
        transform: rotate(-30deg);
    transform-origin: bottom left;
        }

        .leftpalm-5 {
          width: 100vw;
          position: fixed;
          z-index: 2;
          margin-top: 28%;
          transform: rotate(-40deg);
      transform-origin: bottom left;
          }

          .leftpalm-6 {
            width: 100vw;
            position: fixed;
            z-index: 0;
            margin-top: 28%;
            transform: rotate(-55deg);
        transform-origin: bottom left;
            }

/* start of right palmleave css -------------------------------------- */

      .rightpalm-1 {
        width: 100vw;
        position: fixed;
        z-index: 9;
        margin-top: 28%;
        transform: rotate(5deg);
        transform-origin: bottom right;
         /* animation-duration: 4.5s;
          animation-name: goRight;
         animation-iteration-count:1;
         animation-timing-function: linear;
         animation-fill-mode: forwards;
         transform-origin: bottom right; */
        }
  
        .rightpalm-2 {
          width: 100vw;
          position: fixed;
          z-index: 7;
          margin-top: 28%;
          transform: rotate(10deg);
          transform-origin: bottom right;

           /* animation-duration: 3.5s;
            animation-name: goRight;
           animation-iteration-count:1;
           animation-timing-function: linear;
           animation-fill-mode: forwards;
           transform-origin: bottom right; */
          }

          .rightpalm-3 {
            width: 100vw;
            position: fixed;
            z-index: 5;
            margin-top: 28%;
            transform: rotate(20deg);
            transform-origin: bottom right;
             /* animation-duration: 2.5s;
              animation-name: goRight;
             animation-iteration-count:1;
             animation-timing-function: linear;
             animation-fill-mode: forwards;
             transform-origin: bottom right; */
            }

            .rightpalm-4 {
              width: 100vw;
              position: fixed;
              z-index: 3;
              margin-top: 28%;
              transform: rotate(30deg);
              transform-origin: bottom right;
          
              }

              .rightpalm-5 {
                width: 100vw;
                position: fixed;
                z-index: 1;
                margin-top: 28%;
                transform: rotate(40deg);
                transform-origin: bottom right;
            
                }
    
  
                .rightpalm-6 {
                  width: 100vw;
                  position: fixed;
                  z-index: 0;
                  margin-top: 28%;
                  transform: rotate(55deg);
                  transform-origin: bottom right;
              
                  }


        /* left palm animation

  @keyframes goLeft {
    from {
      transform: 
      /* translate(-0,0) */
      /* rotate(0deg);
    
    }
  
    to {
      transform: 
      /* translate(-400px,400px) */
      /* rotate(-75deg);
      opacity: 100%; */

    /* }
  } */ 

         /* right palm animation */

/* 
      @keyframes goRight {
        from {
          transform:  */
          /* translate(-0,0) */
          /* rotate(0deg);
        
        }
      
        to {
          transform:  */
          /* translate(-400px,400px) */
          /* rotate(75deg);
          opacity: 100%;
    
        }
      } */ 




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Btn {
  background-color: #749C75 !important;
  border-radius: 20px !important;
  margin: 7px !important;
  color: #eee2db !important;
}

.modalPhoto{
  border-radius: 20px !important;
  text-align: center !important;
}

.infoModal {
  text-align: center;
  font-family: "Coustard" serif;
  font-size: 18px;
}

.infoList {
  text-align: left !important;
}
