.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #f8f0d7;
}

.sublead {
  font-family: 'Coustard', serif;
  font-size: 1.8rem !important;
  color: rgb(63, 63, 63) !important;
  }

.lead {
  font-family: 'Coustard', serif;
  font-size: 2rem !important;
  color: rgb(68, 68, 68);
  }

.jumbotron {
    background: none !important;
    }

.gardenHeader {
  margin: auto;
  text-align: center !important;
  width: 60%;
}

.garden-jumbo {
align-content: center;
text-align: center;
  background-color: #749C75 !important;
}

.garden-body {
background:  #F8F0D7 !important;
}

.card-title {
  font-family: 'Coustard', serif;
}
    
.inbloom {		
    width: 40%;
    }
  
#plant-cards {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: auto !important;
}

.card {
  text-align: center;
background-color: #EA8955 !important;
border-radius: 20px !important;
}

.card-img-top {
border-radius: 20px !important;
text-align: center !important;
width: 200px !important;

}

#navbar {
  font-family: 'Coustard', serif;
  background:  #F8F0D7 !important;
}


#navbar-title {
  font-family: 'Coustard', serif;
  color: #749C75 !important;
}
/* .monstera {
  width: 60%;
  position: absolute;
  z-index: 10;
  margin-top: 20%;
   animation-duration: 10s;
    animation-name: goRight;
    animation-iteration-count: infinite;
  }
  
  @keyframes goRight {
    from {
      transform: 
      translate(-0,0)
      rotate(0deg);
    
    }
  
    to {
      transform: 
      translate(-400px,400px)
      rotate(-85deg);
      opacity: 100%;

    }
  } */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
